<h1>All meetups</h1>

<p><a href="/meetups">View all the meetups</a>

<ul>
  <% @meetups.each do |meetup| %>
    <li>
      <a href="/meetups/<%= meetup.id%>">
        <%= "#{meetup.name} - #{meetup.location}" %>
      </a>
    </li>
  <%end %>
</ul>
